{% extends 'base.html.twig' %}

{% block title %}Le paiement à échoué !{% endblock %}

{% block body %}

    <section class="success-section">
        <img src="/images/cross.png">
        <h1 class="fail">Malheureusement, le paiement à échoué ou à été annulé...</h1>
        <p>
            Nous apprecions votre interêt pour notre produit,
            <br/>
            Pour toute questions :
            <a href="mailto:orders@example.com">commandes@sirio.com</a>.
        </p>
    </section>
{% endblock %}