{% extends 'base.html.twig' %}

{% block title %}Paiment Réussis !{% endblock %}

{% block body %}
    <section class="success-section">
        <img src="/images/validation-commande.png">
        <h1>Nous vous remercions pour votre commande!</h1>
        <p>
            Merci pour votre confiance !
            Si vous avez une question,
            <a href="mailto:orders@example.com">commandes@sirio.com</a>.
        </p>
    </section>
{% endblock %}