{% extends 'personal_space/base.html.twig' %}

{% block personal_space_title %}Mot de passe{% endblock %}

{% block personal_space %}
<form action="#">
    <div class="imputLabel">
        <label for="oldPassword">Ancien mot de passe</label>
        <input type="password" id="oldPassword"/>
    </div>
    <div class="imputLabel">
        <label for="newPassword">Nouveau mot de passe</label>
        <input type="password" id="newPassword"/>
    </div>
    <div class="imputLabel">
        <label for="confirmationNewPassword">Confirmation du mot de passe</label>
        <input type="password" id="confirmationNewPassword"/>
    </div>
    <button>Valider</button>
</from>
{% endblock %}