{% extends 'base.html.twig' %}

{% block body %}
    <section class="hero">
        <div class="hero__container">
            <div id="current-refinements"></div>
            <div id="clear-refinements"></div>
            <div id="refinement-list"></div>
            <div id="menu"></div>
            <div type="text" id="searchbox" class="ais-SearchBox"></div>
            <div class="ais-InstantSearch">
                <div id="hits"></div>
                <div id="pagination"></div>
            </div>
        </div>
    </section>
{% endblock %}
