//  font-family: 'IBM Plex Mono', monospace;
//  font-family: 'IBM Plex Sans', sans-serif;

.navbar__sirio{
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 300;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #c7c1bf;
  transition: 0.5s;

  a{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #c7c1bf;
    transition: 0.5s;
    span{
      margin-left: 20px;
    }
    &:hover {
      transition: 0.5s;
      color: #acbe7f;
    }
  }
  .navbar__search{
      display: flex;
      align-items: center;
      width: 20vw;
    input{
      padding: 5px;
      width: 100%;
      border-bottom: 1px solid #c7c1bf;
      &:focus{
        border-bottom: 1px solid black;
        transition: ease-in-out 0.5s;
        color: black;
      }
    }
    i{
      padding-right: 10px;
    }
  }

  .navbar__items{
    text-decoration: none;

    ul{
      display: flex;
      justify-content: space-between;
      align-items: center;
      li{
        margin-left: 70px;
        &:first-child{
          margin-left: 0;
        }
      }
    }
  }
}

.navbar__divider{
  background-color: #453c35;
  opacity: 1;
  margin-top: 45px;
}

.right-vertical-div{

}

.footer__elements{
    display: flex;
    justify-content: center;
    span{
      text-transform: uppercase;
      margin-left: 30px;
      letter-spacing: 3px;
      padding-left: 30px;
      border-left: 1px solid black;

      &:first-child{
        margin-left: 0;
        padding-left: 0;
        border-left: none;
      }
    }
}

.section__hero{
  min-height: 79vh;
  font-family: 'IBM Plex Mono', monospace;
  .hero-container{
    .text-hero-left{
      color: #acbe7f;
      font-size: 24px;
      font-family: 'IBM Plex Mono', monospace;
    }
    .card-href{
      transition: 0.5s;
      &:hover{
        transition: 0.5s;
        border: 1px solid #acbe7f;
        box-shadow: rgb(97, 72, 61, 0.25) 0 25px 50px -12px;
        .card-body{
          transition: 0.5s;
          padding: 10px !important;
          margin-top: 20px !important;
        }
      }
    }
    .section-text{
      font-family: 'IBM Plex Sans', sans-serif;
      text-align: justify;
      p{
        display: flex;
        flex-direction: column;
        a{
          font-family: 'IBM Plex Mono', monospace;
          font-weight: bold;
          text-transform: uppercase;
          padding: 3px;
          transition: 0.5s;
          text-align: end;
          &:hover{
            color: #62493c;
            transition: 0.5s;
          }
        }
      }

    }

    .card{
      background-color: transparent;
      border: none;
      border-radius: 0;
      .card-img-top{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      .card-title{
        font-family: 'IBM Plex Mono', monospace;
        font-size: 20px;
        font-weight: 300;
        text-transform: uppercase;
        color: #62493c;
      }
      .card-prix{
        font-family: 'IBM Plex Mono', monospace;
        font-size: 20px;
        text-transform: uppercase;
        color: black;
      }

      .card-body{
        margin-top: 30px;
        padding: 0;
        transition: 0.5s;
      }

      .card-text{
        .checked{
          color: #acbe7f;
        }
      }
      a:hover{
        color: #212529;
      }
    }
  }
}


/// Login /// 
.form-section{
  min-height: 80vh;
  align-items: center;
  h1{
    color: #acbe7f;
    font-size: 24px;
    font-family: 'IBM Plex Mono', monospace;
  }
}
.form-container{
  height: 100%;
  background-color: #fff;
  padding: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  margin-top: 80px !important;
  .btn-login{
    margin-top: 10px;
    color: #acbe7f;
    border: 1px solid #acbe7f;
    &:hover{
      color: #fff;
      background-color: #acbe7f;
      border: 1px solid transparent;
    }
  }
  input{
    &:focus{
      border: 1px solid #acbe7f;
      color: #c7c1bf;
    }
  }
  h2{
    padding: 10px;
    font-size: 28px;
    color: black;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    text-transform: uppercase;
  }
}
