.add-panier {
  padding: 5px 10px;
  border-radius: 2px;
  transition: 0.3s;
  border: 2px solid #acbe7f;
  color: #acbe7f;

  &:hover{
    background-color: #acbe7f;
    color: #FFFFFF;
  }
}

.produit-prix{
  display: flex;
  justify-content: space-between;
}

.card-title{
  color: #acbe7f;
}
